section#comments {
    margin-left: 1rem;
    margin-right: 1rem;
}

section#comments article.comment span {
    font-weight: bold;
}

section#comments article.comment span.user {
    font-style: italic;
}

section#comments article.comment span.user::after {
    font-style: normal;
    content: " said:";
}

section#comments article.comment span.date {
    float: right;
    margin-right: 0;
    padding-right: 0;
}

section#comments article.comment p {
    background-color: #EDEFF0;
    padding: 1rem;
    padding-top: 0;
    margin: 0;
    margin-top: 1rem;
}

section#comments article.comment p::before {
    content: "“";
    font-size: 3rem;
    margin: 0;
    position: relative;
    top: 15px;
    color: #CCCCCC;
}

/* Form */

section#comments form {
    background-color: #EDEFF0;
}

section#comments form h2 {
    font-size: 1rem;
}

section#comments form textarea {
    width: 100%;
    height: 5rem;
}   

section#comments input[type="submit"] {
    background-color: #2A2F33;
    color: white;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    padding: 0.8rem;
    border: 0;
}   
