@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:whitesmoke;
    margin: 0;
}

header {
    background-color:white;
}

header * {
    display: inline;
}

header h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

nav#menu {
    height: 100%;
    position: fixed;
    right: 0;
    background-color: #111;
    z-index: 1;
}

nav#menu a {
    color: white;
}

section#adoption {
    display: flex;
}

div.pet-card {
    width: 20%;
    background-color: wheat;
}

div.pet-card img {
    width: 100%;
    object-fit: cover;
}

