section#adoption {
    margin: 1em;
}

section#pets {
    display: flex;
    flex-wrap: wrap;
}

section#pets > * {
    margin-bottom: 1em;
    margin-right: 1em;
}

footer.container {
    border-radius: 0 0 0.5em 0.5em;
    background-color: var(--color1);
    padding: 0.5em;
}

footer.container p {
    margin: 0;
    background-color: var(--color1);
    text-align: center;
    font-size: large;
    color: white;
}

section#searchBar {
    display: flex;
    align-items: stretch;
    text-align: center;
}

section#bar{
    background-color: white;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.6em;
    border-width: 0;
    box-shadow: 0em 0.1em 0.2em grey;
}

section#bar input#name{
    border: none;
    border-right: 0.01em solid black;
}

section#bar input#name:active {
    border:none;
}

section#bar select#species{ 
    border: none;
}

img.resize {
    width: auto;
    height: auto;
}

section#bar input[type="submit"] {
    border: none;
    background-color: white;
}
