div.card {
    justify-self: flex-start;
    border-radius: 0.5em;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0em 0.1em 0.2em grey;
    background-color: var(--color1);
    height: 100%;
}

div.favorite-icon, div.post-icon {
    position: absolute;
    font-size: 1.3em;
    color: var(--color1);
}

div.post-icon {
    top: 0.5em;
    left: 0.5em;
}

div.favorite-icon {
    top: 0.5em;
    right: 0.5em;
}

div.pet-card img {
    display: block;
    width: 100%;
    height: 18em;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

div.proposal-card {
    text-align: center;
}

div.proposal-card i {
    width: 100%;
}

div.proposal-card p {
    vertical-align: middle;
}
