label {
    font-size: 1.1em;
}

button {
    font-family: 'Varela Round', sans-serif;
}

section#login,
section#register {
    grid-column: start;
}

section#login h1,
section#register h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

section#login form,
section#register form {
    background-color: white;
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

section#login form label input ,
section#register form label input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid black;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

section#login form input[type=submit],
section#register form input[type=submit] {
    margin-left: auto;
    background-color: var(--boxColor);
    color: white;
    padding: 0.8rem;
    border: 0;
}

@media (max-width: 30em) {
    section#register {
        background-color: white;
    }
}

/* Submition Form */    

form#pet-submition form * {
    display: block;
}

form#pet-submition h2 {
    text-align: center;
}

form#pet-submition input, form#pet-submition select {
    background-color: white;
    border: 0;
    border-radius: 3px 3px 3px 3px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

form#pet-submition {
    padding-left: 5em;  
    padding-right: 5em;
}

form#pet-submition label {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

form#pet-submition label > * {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

form#pet-submition textarea {
    border: 0;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    resize: none;
}

div#pet-gender button {
    background-color: white;
    border: 0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

button#male {
    color: #00B2FF;
}

button#female {
    color: #E58BD2;
}

div#extra-fields {
    display: grid;
    grid-auto-columns: auto max-content;
    grid-template-areas: 
      "Species Gender"
      "Age Gender";
}

div#extra-fields * {
    display: inline-block;
}

#pet-species {
    display: block;
    grid-area: Species;
}

#pet-age {
    display: block;
    grid-area: Age;
}

#pet-gender {
    display: block;
    grid-area: Gender;
    margin: auto;   
    padding-left: 2em;
}

#pet-gender button {
    height: 5em;
    width: 5em;
    display: inline-block; 
    margin: 0.5em;
}

form#pet-submition button[type=submit]{
    background-color: var(--color1);
    color: white;
    border: 0;
    font-size: 1.7em;
    margin: auto;
    padding: 0.3em;
    padding-left: 2.7em;
    padding-right: 2.7em;
    border-radius: 7px 7px 7px 7px;
}
