section#login,
section#register {
    grid-column: start;
}

section#login h1,
section#register h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

form {
    background-color: white;
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

form * {
    display: block;
}

form label {
    font-weight: bold;
}

form label input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid black;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form button[type=submit] {
    background-color: var(--color1);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem;
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    border-radius: 5px;
}

@media (max-width: 30em) {
    section#register {
        background-color: white;
    }
}

input[type=submit]{
    font-family: 'Varela Round', sans-serif;
}

/* submition_form css */

form#submition_post{
    font-size: 2em;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;

    
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 60% 15% 5%;
    grid-template-areas: 
      ". Y Y"
      "Description TextArea TextArea"
      ". . Button";
}

form#submition_post textarea,
form#submition_post input{
    font-size:1em;
    background-color: white;
    border: none;
    border-bottom: 1.5px solid black;
    resize: none;
}

form#submition_post div#submits
{
    grid-area: Y;
}



form#submition_post button
{
    width: 10em;
    height: 2em;
    grid-area: Button;
}

form#submition_post textarea
{
    grid-area: TextArea;
}
form#submition_post label.description
{
    grid-area: Description;
}

form#submition_post * {
    display: block;
}

form#submition_post label {
    font-weight: bold;
}

form#submition_post select {
    font-size: 1em;
    
}

form#submition_post button {
    color: white;
    background-color: darkblue;
    font-weight: bold;
}

