section#login h1,
section#register h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

form {
    background-color: white;
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

form * {
    display: block;
}

form label {
    font-weight: bold;
}

form label input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid black;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form button[type=submit] {
    background-color: var(--color1);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem;
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    border-radius: 5px;
}

@media (max-width: 30em) {
    section#register {
        background-color: white;
    }
}
