

div#pet_profile button{
    border-radius: 25px;
    margin: 0.5em;
    margin-right: 5em;
    display:block;
    font-size: 1.5em; 
    padding:1em;
    width: 8em;
}

div#pet_profile button#adopt{
    grid-area: adopt;
    outline:none;
}
div#pet_profile button#favorite{
    grid-area: favorite;
    background-color:var(--color1);
    color: white;
    outline:none;
}

div#pet_profile div#grid{
    display:grid;
    grid-template-columns: 70% 30%;
}

div#pet_profile h2{
    position: relative;
    grid-area: img;
    height: 15em;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

div#pet_profile h2 img#front{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    z-index:3;
}

div#pet_profile h2 img#background{
    width:80%;
    left:10%;
    right:10%;
    top:-60%;
    position: absolute;
    z-index:1;
    filter:blur(7px);
    
}


div#pet_profile div#pet_info {
    grid-column-start: auto;
    padding:1em;
    border-radius:25px;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    word-wrap: break-word;
    text-align: center;
    border: solid 1px black;
}

div#pet_profile div#buttons {
    grid-column-start: auto;
}


div#pet_profile div#pet_info hr{
    width:30%;
    border:0;
    border-bottom: solid 1px var(--color2);
}


div#pet_profile div#pet_info p#info_bullets a{
    color:black;
}

div#pet_profile div#pet_info p#info_bullets *+ :before{
    content : "\2022";
}




