@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:whitesmoke;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color:white;
}

header * {
    display: inline;
}

header h1 {
    margin: 0;
}

nav#menu {
    height: 100%;
    position: fixed;
    right: 0;
    background-color: #111;
    z-index: 1;
}

nav#menu a {
    color: white;
}

section#adoption {
    display: flex;
}

div.pet-card {
    position: relative;
    width: 20%;
    background-color: white;
    margin-left: 0.8em;
}

div.favorite-icon {
    position: absolute;
}

div.pet-card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

div.container p {
    margin: 0;
    text-align: center;
}

