@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --color1: #181818;
    --color2: #BEBEBE;
    --color3: #EFEFEF;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: var(--color3);
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */

header {
    background-color: var(--color1);
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 3em;
}

header h1 {
    margin: 0;
    font-size: 1.6em;
}

header #authentication {
    margin-left: auto;
    margin-right: 1em;
}

header #authentication a {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

header #authentication a + a {
    border-left: 1px solid var(--color2);
}

header #authentication p {
    display: inline-block;
    color: var(--color2);
}

/* Avatar */

img#avatar {
    max-height: 2.5em;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0em;
    padding-right: 0;
    border: solid black;
}

img#avatar:hover {
    border: solid white;
}

div#avatar_dropdown {
    display: none;
    position: absolute;
    width: fit-content;
    right: 1em;
    background-color: white;
    text-align: justify;
    box-shadow: 0em 0.1em 0.2em grey;
}

div#avatar_dropdown ul {
    list-style-type: none;
    padding-left: 0;
}

div#avatar_dropdown li {
   margin: 1em;
}

div#avatar_dropdown a {
    color: black;
}

div#user_notifications {
    display: block;
    position: absolute;
    width: fit-content;
    right: 15em;
    top: 3em;
    background-color: white;
    text-align: justify;
    box-shadow: 0em 0.1em 0.2em grey;
    max-height: 15em;
    overflow: auto;
}

div#user_notifications ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
}

div#user_notifications li {
    margin-left: 0em;
    height: fit-content;
    width: fit-content;
}

a.notification {
    display: block;
    padding: 1em;
    color: black;
    background-color: wheat;
    border-bottom: 1px solid grey;
}

/* Footer */

body > footer {
    text-align: center;
}

section#invalid_page_message {
    margin: 2em;
    text-align: center;
    font-size: 4em;
}