div#adoption-post-card {
    color: black;
    border-radius: 1rem;
    box-shadow: 0em 0.1em 0.2em grey;
    background-color: white;
    padding: 1em;
    padding-bottom: 0.1em;
    margin-bottom: 0.6em;
}

div#adoption-post-card h2 {
   margin-top: 0.3em;
   /* padding-left: 2em; */
   margin-bottom: 0.3em;
   text-align: center;
}

div#adoption-post-card a {
    color: black;
}

div#pet-pic-post {
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 0;
    text-align: center;
}

div#pet-pic-post h3 {
    margin-top: 0.5em;
}

div#pet-pic-post img {
    width: 100%;
    border-radius: 1rem;
}

div#post-pet-info {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "Photo Info";
    margin-bottom: 0;
}

div#pet-pic-proposal {
    grid-area: Photo;
}

div#pet_details_description {
    border-left: solid grey;
    grid-area: Info;
    margin-top: 1em;
}

div#pet_details_description h3 {
    margin-top: 0;
    margin-bottom: 0.7em;
    padding-left: 1em;
}

div#pet_details_description p {
    margin-bottom: 0.2em;
    margin-top: 0em;
}

div#pet_details {
    padding-bottom: 0.5em;
    padding-top: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "DetLeft DetRight";
}

div#pet-details-left {
    height: fit-content;
    grid-area: DetLeft;
    padding-left: 2em;
}

div#pet-details-right {
    height: fit-content;
    padding-left: 1em;
    grid-area: DetRight;
    padding-bottom: 0;
}

div#pet-description {
    border-top: solid grey;
    text-align: justify;
    padding-top: 0.2em;
}

div#pet-description h3 {
    margin-top: 0.5em;
}

div#pet-description p {
    padding-left: 2em;
}

div#adoption-post-card footer{
    margin-top: 0;
    text-align: end;
}